        <div ng-controller="myctrl">
        <div class="container border" >
           
            <table class="table table-bordered table-responsive" id="allMovieList">
                    <tr>
                        <th>TITLE</th>
                        <th>TYPE</th>
                        <th>YEAR</th>    
                        <th>IMDBID</th>    
                        <th>POSTER</th>    
                        <th>POSTER</th> 
                        <th>MOVIEINFO</th>
                    </tr>

                    <tr ng-repeat="x in details">
                        <td id="firstRow">{{x.Title}}</td>
                        <td id="firstRow">{{x.Type}}</td>
                        <td id="firstRow">{{x.Year}}</td>
                        <td id="firstRow">{{x.imdbID}}</td>
                        <td id="poster"><img ng-src="{{x.Poster}}" class=img-responsive></td>
                        <td><a ng-href="#/view/{{x.imdbID}}"><img ng-src="{{x.Poster}}" class="img-responsive"></a></td><!--To get the poster of respective movie-->
                        <td><a ng-href='#/view/{{x.imdbID}}' class="btn btn-warning">Read more</a></td>
                        
                    </tr>
                

            </table>
        </div>
        </div>
        <!-- <div class="container" ng-model="errormsg">
            
        </div> -->

    <!-- Include Modernizr in the head, before any other Javascript -->
