header{
	position: fixed;
	height: 100px;
	text-align: center;
	margin: auto;
}

body{
	margin: 1px;
	background:url("../Images/mangrove.jpg");
}
h1{
	font-family: 'Lobster', cursive;
	color: #008000;
	font-size: 50px;
}
img{
	float: left;
	height: 300px;
	width: 300px;
}
nav{
	padding-top: 30px;
	float: right;
}
.header{
	background-color: #4dff4d;
	margin-top: 0px;
	padding-top: 0px;
}
.header img
{
	height: 100px;
}
nav ul li{
	display: inline;
	margin-right: 10px;
}

.links ul li a{
	text-decoration: none;
	color: red;
}
.main{
	margin-left: 10px;
	margin-top: 100px;
	background-color: 	#00BFFF;
}
footer{
	background-color: #EAEAE7;
	text-align: center;
	margin: auto;
}
section{
	padding-top: 10px;
}
.hero{
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
}
section .deviderow{
	height: 33%;
	margin: auto;
	padding: 0px 30px 0px 20px;
}


nav ul li a{
	text-decoration: none;
	color: #008000;
	font-size: 16px;
	font-weight: bold;
}
li a:hover{
	text-decoration: underline;
	text-decoration-style: solid;
	color: green;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
}
h1{
color: black;
}
h2{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
h3{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
p{
	padding: 10px 10px 10px 10px;
	/*font-family: 'PT Sans Narrow', sans-serif;*/
	font-family: 'Courgette', cursive;
	/*font-family: 'Lobster Two', cursive;*/
}
.readmore{
	margin-top: -10px;
	float: right;
	padding-right: 30px;
	color: #20459F;
}
.details{
	padding-left: 20px;
}
.readmore:hover{
	font-size: 20px;

}
h2,h3,h4{
	font-family: 'Bree Serif', serif;
	color: #001a00;
	text-align: center;
}

.list{
	color: #09301C;
	display: block; 
	text-decoration: none;
	margin-top: -20px;
	margin-left: 70px;
}


#sunderbanimg{
	width: 250px;
	height: 200px;
	float: left;
	padding-bottom: 10px;

}
#heropic{
	width: 960px;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 400px;
	float: left;
}
.mangrove{
	margin-bottom: 30px;
}
.mangrove,iframe{
	width: 460px;
	height: 315px;
	padding: 2px 2px 2px 2px;
	margin-right: 0px;
}

.description{
	padding: 5px 5px 5px 5px;
}
footer i{
	padding: 10px 10px 10px 10px;
}
footer a{
	text-decoration: none;
	color: #3B3642;
	margin: 2px 5px 2px 5px;
}
footer a:hover{
	text-decoration: underline;
	text-decoration-style: solid;
	color: red;
	font-style: italic;
	font-weight: bold;
	font-size: 18px;	
}
.footerfont{
	font-family: sans-serif;
}
.places{
	width: 220px;
}
